<!-- footer -->
<footer>
    <div class="container border-top margin-top-5 footer-btm">
        <div class="row  margin-tp-btm-3">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center icons-footer xs-text-center xs-margin-bottom-1">
                <!-- social media -->
                <a target="_blank" href="https://www.facebook.com/">
                    <i class="fa fa-facebook"></i>
                </a>
                <a target="_blank" href="https://twitter.com/">
                    <i class="fa fa-twitter"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/">
                    <i class="fa fa-instagram"></i>
                </a>
                <!-- end social media -->
            </div>
        </div>
    </div>

<!-- scroll to top -->
<a href="javascript:;" class="scrollTop" style="display: none;"> <i class="fa fa-angle-up"> </i> </a>
<!-- end scroll to top -->
</footer>
<!-- end footer -->

<!-- Javascripts -->
<script type="text/javascript" src="js/jquery_005.js"></script>
<script type="text/javascript" src="js/jquery_002.js"></script>
<script type="text/javascript" src="js/jquery_007.js"></script>
<script type="text/javascript" src="js/jquery_004.js"></script>
<!-- modernizr  -->
<script type="text/javascript" src="js/modernizr.js"></script>
<!-- bootstrap  -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- smooth scrolling  -->
<script type="text/javascript" src="js/smooth-scroll.js"></script>
<!-- skrollr  -->
<script type="text/javascript" src="js/skrollr.js"></script>
<!-- owl Carousel  -->
<script type="text/javascript" src="js/owl.js"></script>
<!-- animations -->
<script type="text/javascript" src="js/wow.js"></script>
<!-- page scroll -->
<script type="text/javascript" src="js/page-scroll.js"></script>
<!-- parallax -->
<script type="text/javascript" src="js/jquery.js"></script>
<!-- portfolio  -->
<script type="text/javascript" src="js/jquery_003.js"></script>
<script type="text/javascript" src="js/img-popup.js"></script>
<script type="text/javascript" src="js/jquery_006.js"></script>
<script type="text/javascript" src="js/imagesloaded.js"></script>
<!-- custom main js file -->
<script type="text/javascript" src="js/custom.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>


</body></html>
